<div id="wrapper">
    <h1 class="heading">Lifehacker Scraper</h1>
    <div id="articles"></div>
    <div id="comments"></div>
</div>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="../assets/javascript/app.js"></script>